// Global

body {
  -webkit-font-smoothing:antialiased;
  font-family: $Roboto;
}

.content-wrapper {
  flex: 1;
  flex-basis: auto;
  flex-shrink: 0;
}

.antialiased { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

input[type=text]::-ms-clear { display: none; }

// General
// ------------------------------------------------------ General
.center {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.hidden {
  display: none;
}
.clear {
  clear: both;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.sup {
  font-size: 75%;
  line-height: 0;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.text-capitalize,
.caps {
  text-transform: uppercase;
}
.ul-basic {
  list-style: none;
  margin: 0 auto;
}
span[class^='i-'] {
  margin-bottom: -0.4em;
}
section,
.section {
  width: 100%;
  float: left;
  clear: both;

  &> .row > h2 {
    padding-top: 60px;
  }
}
.row--inner {
  max-width: 960px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
  width: 100%;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

// Size
// ------------------------------------------------------ Size
.hunh {
  height: 100%;
}

// Position
// ------------------------------------------------------ Position
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.top {
  top: 0;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.cenpos {
  position: relative;
  left: 50%;

  .cenpos-in {
    position: relative;
    left: -50%;
  }
}

// Display - vertical align middle
// ------------------------------------------------------ Display
.valign {
  display: table;
  height: 100%;
  width: 100%;

  .valign-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}

// Reset grid to auto width
// ------------------------------------------------------ Reset grid to auto width
.xsmall-auto {
  @include breakpoint(xsmall) {
    width: auto;
  }
}
.small-auto {
  @include breakpoint(small) {
    width: auto;
  }
}
.medium-auto {
  @include breakpoint(medium) {
    width: auto;
  }
}
.large-auto {
  @include breakpoint(large) {
    width: auto;
  }
}
.xlarge-auto {
  @include breakpoint(xlarge) {
    width: auto;
  }
}

// Media Clears
// ------------------------------------------------------ Media Clears

.xsmall-clear {
  clear: both;
}
.xsmall-clear-auto {
  clear: none;
}
@include breakpoint(small) {
  .small-clear {
    clear: both;
  }
  .small-clear-auto {
    clear: none;
  }
}
@include breakpoint(medium) {
  .medium-clear {
    clear: both;
  }
  .medium-clear-auto {
    clear: none;
  }
}
@include breakpoint(large) {
  .large-clear {
    clear: both;
  }
  .large-clear-auto {
    clear: none;
  }
}
@include breakpoint(xlarge) {
  .xlarge-clear {
    clear: both;
  }
  .xlarge-clear-auto {
    clear: none;
  }
}
@include breakpoint(xxlarge) {
  .xxlarge-clear {
    clear: both;
  }
  .xxlarge-clear-auto {
    clear: none;
  }
}

// Flex Grid
// ------------------------------------------------------ Flex Grid
.flex-grid {
  display: flex;
  flex-flow: row wrap;
}