---
layout: default
title: Dusan Milko
---

{{>nav}}

<div class="bubble">
  <img class="avatar" src="/assets/imgs/dusan.jpg"/>
  <form>
    Contact me
  </form>
</div>

<section class="hero" id="top">
  <div class="xsmall-24 row">
    <h1>
      Dušan Milko
    </h1>
    <h6 class="light">
      Senior Web Developer at Rokkan LLC
    </h6>
    <p>

    </p>
  </div>
</section>

<section class="" id="skillset">
  <div class="xsmall-24 row">
    <h2>
      Skillset
    </h2>
    <div class="xsmall-24">
      HTML5 &amp; CSS3
      Javascript/ES6
      Jquery
      Vue.js/Vuex
      React.js
      Gulp
      Webpack
      Git
      Ajax
      PHP
      MySQL
      Backbone.js
      Responsive Design
      Foundation
      Bootsrap
      Wordpress
      Opencart
      Media Queries
      SASS
      Drupal
      SEO
      Cross-browser support
      Laravel      
      Sourcetree
      Agile/Scrum

      C
      Java
      Photoshop
      Lua
      Premiere Pro
      Phonegap
      Corona SDK
      Toon Boom Animate Pro
      Wacom Tablet
      Sublime
      XCode
    </div>
  </div>
</section>

<section class="" id="work">
  <div class="xsmall-24 row">
    <h2>
      Work
    </h2>
    <div class="xsmall-24">
      verizon
      miraval
      wyndham
      one&amp;only
      mikimoto
      humane society
      bethesda
      cafe de columbia
      hallmark
      doom
      hyundai
      thor
      coty
      fancyfeast
      amex
      jetblue
      wellpoint
      ifo
      veuve clicquot
      glenfiddich
    </div>
  </div>
</section>

<section class="" id="experience">
  <div class="xsmall-24 row">
    <h2>
      Experience
    </h2>
    <div class="xsmall-24">
      Rokkan
      Jun 2013 – Present
      Greater New York City Area
    </div>
    <div class="xsmall-24">
      Walt Disney Parks and Resorts Online
      May 2013 – Aug 2013  
      Orlando, Florida Area
    </div>
    <div class="xsmall-24">
      AirIT
      Oct 2012 – Apr 2013   
      Orlando, Florida Area
    </div>
  </div>
</section>

<section class="" id="education">
  <div class="xsmall-24 row">
    <h2>
      Education
    </h2>
    <div class="xsmall-24">
      <h4>
        University of Central Florida
      </h4>
      <span>
        2008 – 2013
      </span>
      <p>
        Field Of Study: Digital Media - Web Developer
      </p>
    </div>
    <div class="xsmall-24">
      <h4>
        Matanzas High School
      </h4>
      <span>
        2004 – 2008
      </span>
      <p>
        Field Of Study: Architecture and Digital Media
      </p>
    </div>
  </div>
</section>

<section class="" id="hobbies">
  <div class="xsmall-24 row">
    <h2>
      Hobbies
    </h2>
    <div class="xsmall-24">
      dog
      game design/games
      sketch/doodle
      water parks
    </div>
  </div>
</section>

<footer>
  <ul class="ul-basic row">
    <li>
      <a href="mailto:dusanmilko@hotmail.com">
        dusanmilko@hotmail.com
      </a>
    </li>
    <li>
      <a href="tel:8452821421">
        845.282.1421
      </a>
    </li>
    <li>
      <a href="">
        <i class="i-fi-social-github"></i>
      </a>
    </li>
    <li>
      <a href="">
        <i class="i-fi-social-twitter"></i>
      </a>
    </li>
  </ul> 
</footer>

