---
layout: admin
title: Document
---

<div class="admin__pages">

  <div class="admin__page__header">
    <div class="admin__page__title">
      <h2>
        Website Pages
      </h2>
      <p>
        Here you can edit the pages of the website
      <p>
    </div>

    <div class="float-right">
      <a class="button" href="">
        Add New
      </a>
    </div>
  </div>

  <div class="m_item__list">

    <ul class="item__list__header">
      <li>
        Name
      </li>
    </ul>

    <ul class="item__list">
      <li>
        <span>Home<span>
        <a class="float-right icon-center" href="">
          <i class="icon i-fi-pencil"></i>
          <span>Edit</span>
        </a>
      </li>
      <li>
        <span>Games<span>
        <a class="float-right icon-center" href="">
          <i class="icon i-fi-pencil"></i>
          <span>Edit</span>
        </a>
      </li>
      <li>
        <span>Partner<span>
        <a class="float-right icon-center" href="">
          <i class="icon i-fi-pencil"></i>
          <span>Edit</span>
        </a>
      </li>
    </ul>

  </div>

</div>