nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: $white;
  box-shadow: 0 0 3px -1px $black;

  i {
    line-height: 1em;
  }

  ul {
    height: 60px;
  }

  li {
    display: inline-block;
    float: left;
    border-right: 1px solid $vapor;

    a {
      height: 60px;
      float: left;
      display: flex;
      align-items: center;
      transition: all 0.3s ease;
      padding: 0 15px;

      &:hover,
      &:focus {
        background: $vapor;
      }
    }
  }
}