<div class="admin__header">
  <a href="" class="admin__header__logo">
    <img src="http://placehold.it/100x40" />
  </a>

  <form class="admin__search">
    <input type="text" placeholder="Search" />
    <input class="hidden" type="submit" value="Search"/>
  </form>

  <div class="admin__header__user">
    <a href="#!">
      panicpop
    </a>
  </div>
</div>

<div class="admin__nav">

  <ul class="admin__nav__links">
    <li>
      <a class="is-active" href="">
        <i class="icon i-fi-page-filled"></i><span>Pages</span>
      </a>
      <a href="">
        <i class="icon i-fi-shopping-cart"></i><span>Shop</span>
      </a>
      <a href="">
        <i class="icon i-fi-photo"></i><span>Media</span>
      </a>
    </li>
  </ul>

</div>